include LICENSE
include *.rst
include *.md
exclude MANIFEST.in
recursive-include docs *
recursive-include src/senaite/diagnosis *
recursive-exclude src/senaite/diagnosis *.pyc
recursive-exclude src/senaite/diagnosis/locales/.tx *
